.sf-background {
  background-image: url(./../../img/background-image.svg),
    linear-gradient(rgba(166, 165, 255, 0.1), rgba(166, 165, 255, 0.1));
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(229, 231, 235, 1);
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  position: fixed;
  overflow-y: scroll;
}

.main {
  font-family: "Segoe UI";
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100vw;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
}

.settings__title {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #4b5563;
}

.settings__controls {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
}

.settings__controls__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-weight: 600;
  font-size: 14px;
}

.settings__controls__menu-item {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.settings__controls__form {
  display: flex;
  flex-direction: column;
  flex: 4;
  gap: 20px;
}

.settings__controls__form-item {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 190px;
  width: calc(100% - 80px);
  padding: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  background-color: #fff;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.settings__controls__form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 65px;
  width: calc(100% - 80px);
  padding: 0 40px;
  bottom: 0;
  left: 0;
  border-top: 1px solid #e5e7eb;
  border-radius: 0 0 8px 8px;
  background-color: rgba(249, 250, 251, 1);
}

.redborder {
  height: 126px;
  border: 1px solid #dc2626;
  margin-bottom: 20px;
}

.redborder__footer {
  border-top: 1px solid #dc2626;
}

.button {
  height: 40px;
  padding: 10px 16px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s border-color 0.3s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #6b7280;
}

.button:hover {
  background-color: #f3f4f6;
  border-color: rgb(151, 155, 159);
}

.button:active {
  background-color: #d1d5db;
  border-color: #9ca3af;
}

.red {
  background: #ef4444;
  color: #ffffff;
}

.red:hover {
  background-color: #c72222;
}

.red:active {
  background-color: #991b1b;
}

.input {
  height: 30px;
  width: 50%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #d1d5db;

  font-size: 14px;
  font-weight: 400;
  text-align: left;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper-title {
  max-width: 1440px;
}

@media screen and (min-width: 1441px) {
  .wrapper {
    width: 75%;
    max-width: none;
  }
  .wrapper-title {
    width: 75%;
    margin-left: 0;
    max-width: none;
  }
}
