.main {
  font-family: "Segoe UI";
}

.sf-background {
  background-image: url(./../../img/background-image.svg);
  background-color: rgba(71,74,81, 0.2);  
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
  overflow: hidden;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 100vw;
  border-bottom: 1px solid #e5e7eb;
  background-color: #fff;
}

.settings__title {
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  color: #4b5563;
}

.settings__controls {
  display: flex;
  justify-content: space-between;
  padding: 70px 100px;
}

.settings__controls__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-weight: 600;
  font-size: 14px;
}

.settings__controls__menu-item {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.settings__controls__form {
  display: flex;
  flex-direction: column;
  flex: 4;
  gap: 20px;
}

.settings__controls__form-item {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100%);
  padding: 40px;
  border: 1px solid #e5e7eb;
  border-radius: 8px 8px 0 0;
  background-color: #fff;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: #6b7280;
}

.settings__controls__form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: calc(100%);
  box-sizing: border-box;
  padding: 0 40px;
  border: 1px solid #e5e7eb;
  border-radius: 0 0 8px 8px;
  background-color: rgb(241, 241, 242);
}

.redborder {
  height: 126px;
  border: 1px solid #dc2626;
}

.redborder__footer {
  border: 1px solid #dc2626;
  border-top: 0;
}

.button {
  height: 40px;
  padding: 10px 16px;
  border: 1px solid #d1d5db; /* Darkened from #e5e7eb */
  border-radius: 6px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #4b5563; 
  background-color: #dee0e3;
}

.button:hover {
  background-color: #cdcecf; 
  border-color: #9ca3af; 
}

.button:active {
  background-color: #9ca3af; /* Darkened from #d1d5db */
  border-color: #6b7280; /* Darkened from #9ca3af */
}

.red {
  background: #ef4444;
  color: #ffffff;
}

.red:hover {
  background-color: #c72222;
}

.red:active {
  background-color: #991b1b;
}

.input {
  height: 30px;
  width: 50%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #d1d5db;

  font-size: 14px;
  font-weight: 400;
  text-align: left;
  box-sizing: border-box;
}

.wrapper-title {
  max-width: 1440px;
}

.profile-picture-upload {
  display: inline-block;
  width: 100px; 
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  background-color: #f0f0f0; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.profile-picture-preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Ensure positioning context */
}

.profile-picture-preview img,
.profile-picture-preview svg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.profile-picture-preview img {
  object-fit: cover;
}