.CrLinkNewButtonM{
    cursor: pointer;
    width: 161px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.CrLinkNewButtonText{
    font-size: 14px;
    color: white;
}
