.modal {
  position: absolute;
  width: 80%;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.button-exit {
  position: fixed;
  display: grid;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: initial;
  border: max(1px, 0.0625rem) solid #0000;
  border-radius: 0.375rem;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  -webkit-user-select: none;
  user-select: none;
}

.button-exit:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.button-exit:active {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes fadeIn {
  from {
    background-color: rgba(0, 0, 0, 0);
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
