.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
  background-color: transparent;
}

.popup-container {
  width: 258px;
  height: 133px;
  border-radius: 22px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1003;
}

.popup-message {
  font-family: "Helvetica Neue Cyr";
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.popup-button {
  width: 220px;
  height: 40px;
  padding: 0 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}
