.dropdownGraphLinksGP{
    width: auto;
    border-radius:0.5em;
}
.SVGinPeriodTopGP{
    margin-left:auto;
    rotate: 90deg;
}
.ButtonToDropGP{
    box-shadow: 0px 2px 8px 0px #0000001A;
    border: none;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 0.5em;
}

.LIDPBlockedGP{
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size:16px;
    width: 180px;
    height: 40px;
    margin:10px;
    color: gray;
}
.LIDPBlockedGP div{
    padding-left: 10px;
}
.LIDPGP{
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size:16px;
    width: 160px;
    height: 40px;
    margin:10px;
}

.LIDPGP div{
    padding-left: 10px;
}
.LIDPGP:hover{
    border-radius: 0.5em;
    transition: background-color 0.1s ease-in;
    background-color: #e1e1e1;
    cursor: pointer;
}
.ULDPGP{
    z-index: 2;
    width: 180px;
    position: absolute;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-top: 10px;
    padding-left:0px;
    max-height: 0px;
    overflow: hidden;
}
.buttonGPPDropGP{
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
}
