.row {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: nowrap; /* элементы не переносятся на новую строку */
  display: flex; /* Делает .col-6 контейнером flex */
  align-items: flex-start;
}

.on-top {
  width: 100%; /* Ширина 100% */
  display: flex; /* Делает .on-top контейнером flex */
  justify-content: space-between; /* Распределяет элементы равномерно по горизонтали */
  align-items: center;
}

.date-picker {
  width: 100%; 
  height: 100%; 
  bottom: 0;
}

.btn {
  border: none; /* Убирает обводку */
  background-color: transparent; /* Убирает цвет фона */
}

.card {
  border-radius: 2%;
  width: 40rem;
  max-width: 100%; /* Добавлено */
  text-align: center;
  overflow: hidden;
}

.col-6 {
}

.col-8 {
  overflow-x: auto;
  width: 100%;
  height: 100%;
}

.card .table {
  table-layout: fixed;
  margin-bottom: 0;
  width: 100%;
}

#col-left {
  border-bottom-left-radius: 2%;
  border-top-left-radius: 2%;
  background-color: #ff4538;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#col-left #part-1 {
  position: relative;
}

#col-left #part-1 h1 {
  font-size: 5rem;
  margin: 0;
}

#col-right #title #title-date {
  font-weight: 500;
  font-size: 20px;
}

#col-right #title button {
  background-color: white;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
}

#col-right #title button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#col-right #title button:focus {
  box-shadow: none;
}

#col-right .inactive {
  cursor: pointer;
}

#col-right .inactive:hover {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.2);
}

#col-right .active {
  cursor: pointer;
  border-radius: 10%;
  background-color: #ff4538;
  color: #ffffff;
}