.date-picker {
  width: 100%;
  height: 225px;
  display: flex;
  border: 1px solid #000;
  border-radius: 8px;
  margin-bottom: 10px;
}

.date-left {
  background-image: linear-gradient(#6a11cb, #2575fc);
  color: white;
  padding: 0 10px; /* Добавлено для отступов */
  max-width: 100px;
  border-radius: 8px 0 0 8px;
  display: flex; /* Добавлено для использования Flexbox */
  flex-direction: column; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по вертикали */
  align-items: center; /* Центрирование по горизонтали */
  height: 100%; /* Обеспечивает полную высоту родительского элемента */
}

.date-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Добавлено для раздвигания элементов */
  flex-grow: 1; /* Растягивает элемент на всю оставшуюся ширину */
  height: 100%;
}

.date-right-content {
  flex-grow: 1; /* Заполняет оставшееся пространство между header и footer */
}

.date-right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px; /* Добавлено для отступов */
}

.month-year {
  font-weight: 500;
  font-size: 16px;
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.date-table {
  width: 100%;
  table-layout: fixed;
}

#col-right #title button {
  background-color: white;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
}

#col-right #title button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#col-right #title button:focus {
  box-shadow: none;
}

#col-right .inactive {
  cursor: pointer;
  min-height: 190px;
  max-height: 190px;
  overflow: hidden;
}

#col-right .inactive:hover {
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.2);
}

#col-right .active {
  cursor: pointer;
  border-radius: 10%;
  background-image: linear-gradient(#6a11cb, #2575fc);
  color: #ffffff;
}

.date-right-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px; /* Можно изменить значение, если нужно больше отступов */
}
.date-right-footer-button {
  cursor: pointer;
  border-radius: 5px;
  background-image: linear-gradient(#6a11cb, #2575fc);
  color: #ffffff;
  padding: 5px 10px; /* Общепринятые паддинги, можно изменить по необходимости */
  border: none; /* Убираем стандартную рамку у кнопки */
  outline: none; /* Убираем стандартный outline у кнопки */
  transition: background-color 0.3s; /* Добавляем плавный переход для эффекта наведения */
}

.date-right-footer-button:hover {
  background-image: linear-gradient(#2575fc, #6a11cb); /* Меняем направление градиента при наведении */
}
