.arrowMainContainer{
    margin-left: auto;
    margin-right: 20px;
    height: 8px;
    width: 8px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transition: transform 1s;
    transform: rotate(45deg);
    cursor: pointer;
}

