.ShortLink {
  font-weight: 900;
  text-align: center;
  padding-top: 50px;
}

.GradientMP {
  background-image: linear-gradient(#6a11cb, #2575fc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 56px;
}
.NilUrlOpisanie {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  width: 70%;
}
.ButtonsBuyOrTry {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    margin-top: 30px;
  }

  .LinksMPContainer {
    margin-top: 20px;
    text-align: center;
    max-width: 511px;
    margin-left: auto;
    margin-right: auto;
  }

.MainCenterContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;    
}

.LinksMPContainer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .GradientMP {
    font-size: 50px;
  }

  .NilUrlOpisanie  {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .GradientMP {
    font-size: 45px;
  }
  .NilUrlOpisanie  {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .GradientMP {
    font-size: 40px;
  }
  .NilUrlOpisanie  {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .GradientMP {
    font-size: 35px;
  }
}

@media (max-width: 580px) {
  .GradientMP {
    font-size: 30px;
  }

  .ButtonsBuyOrTry {
    flex-direction: column; /* Вертикальное расположение элементов */
  }

}
