.ShortLink {
  font-weight: 900;
  text-align: center;
  padding-top: 50px;
}

.GradientMP {
  background-image: linear-gradient(#6a11cb, #2575fc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.15;
  font-size: 3.75rem;
}
.NilUrlOpisanie {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  margin-top: 1.25rem;
  width: 70%;
  max-width: 600px;
  min-width: 350px;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.ButtonsBuyOrTry {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 1.25rem;
}

.LinksMPContainer {
  margin-top: 2.5rem;
  text-align: center;
  max-width: 511px;
  margin-left: auto;
  margin-right: auto;
}

.MainCenterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 800px) {
  .GradientMP {
    font-size: 2.25rem;
  }

  .NilUrlOpisanie {
    font-size: inherit;
    font-weight: inherit;
  }
}

@media (max-width: 450px) {
  .GradientMP {
    font-size: 1.75rem;
  }

  .NilUrlOpisanie {
    font-size: 0.9rem;
  }
}
