.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (min-width: 1441px) {
  .wrapper {
    width: 75%;
    max-width: none;
  }
}

.header {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-family: "Segoe UI";
}

.header__logo {
  display: flex;
  align-items: center;
}

.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(194, 193, 193, 0.67);
}

.slash {
  font-size: 34px;
  color: rgba(194, 193, 193, 0.294);
  font-weight: 400;
  margin: 0 10px;
  padding-bottom: 5px;
}

.profile__name {
  vertical-align: middle;
  margin-left: 20px;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}
