.NewFooterMainContainer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: -10;
    font-family: "Roboto";
}

.NewFooterContainer {
    display: flex;
    justify-content: flex-start;
}

.NewFirstFooter {
    display: inline-block;
}

.NewSecondFooter {
    margin-left: 15%;
    vertical-align: top;
    display: inline-block;
}

.NewThirdFooter {
    margin-left: 10%;
    vertical-align: top;
    display: inline-block;
}

.NewTextBoldFooter {
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}

.NewDefaultTextFooter {
    color: #6B7280;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.NewCopyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NewSocialIcons {
    display: flex;
}

.NewSocialIcons svg {
    margin-right: 30px;
}

.NewFooterContent {
    width: 310px;
    line-height: 20px;
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Roboto";
}

@media (max-width: 1000px) {
    .NewFooterContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .NewSecondFooter {
        margin-left: 10%;
    }
    .NewThirdFooter {
        margin-left: 5%;
    }
    .NewCopyright {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1440px) {
    .NewFooterContainer {
        padding-left: 100px;
        padding-right: 100px;
    }
    .NewCopyright {
        padding-left: 100px;
        padding-right: 100px;
    }
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 1441px) {
    .wrapper {
        width: 75%;
        max-width: none;
    }
}