.FooterMPMainContainer {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: -10;
    font-family: "Roboto";
}

.FooterMPContainer {
    display: flex;
    justify-content: flex-start;
}

.FirstFooterMP {
    display: inline-block;
}

.SecondFooterMP {
    margin-left: 15%;
    vertical-align: top;
    display: inline-block;
}

.ThirdFooterMP {
    margin-left: 10%;
    vertical-align: top;
    display: inline-block;
}

.TextBoldFooter {
    line-height: 20px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}

.defaultTextFooter {
    color: #6B7280;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    display: flex;
}

.social-icons svg {
    margin-right: 30px;
}

.footer-content {
    width: 310px;
    line-height: 20px;
    color: #6B7280;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Roboto";
}

@media (max-width: 1000px) {
    .FooterMPContainer {
        padding-left: 30px;
        padding-right: 30px;
    }
    .SecondFooterMP {
        margin-left: 10%;
    }
    .ThirdFooterMP {
        margin-left: 5%;
    }
    .copyright {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (min-width: 1000px) and (max-width: 1440px) {
    .FooterMPContainer {
        padding-left: 100px;
        padding-right: 100px;
    }
    .copyright {
        padding-left: 100px;
        padding-right: 100px;
    }
}