.buttonCheck{
    width:15px;
    height:18px;
    border: 3px solid black;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: white;
    border: 1px solid #e5e7eb;
    font-size:20px;
    font-weight:bold;
}
.FilterTagName{
    display: inline-block;
    margin-left: 5px;
    font-size: 17px;
}
