.mainCLMP {
  position: relative;
  align-items: center;
  display: flex;
  border: 1px solid;
  border-color: #e5e7eb;
  border-radius: 10px;
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  background-color: white;
}
.CLicksTextANum {
  cursor: pointer;
}
.timerCLMP {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #609dff;
}
.timerCLMPRed {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 8px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: red;
}
.tegCLMP {
  overflow: hidden;
  padding-bottom: 1px;
  font-weight: 400;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 8px;
  max-width: 121px;

  position: absolute;
  right: 0;
  top: 0;
}
.SVGLinksLP {
  width: 40px;
  height: 40px;
}

.gradient-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.SVGCOntLP {
  overflow: hidden;
  margin-left: 10px;
  padding: 10px;
  transition: padding 0.3s;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  outline: 1px solid #e5e7eb;
}
.LinksDateCopy {
  width: calc(100% - 250px - 70px);
  margin-left: 20px;
  height: 50px;
}
.LinksDateTop {
  margin-bottom: 8px;
  height: 20px;
}
.LinksDateBottom {
  position: relative;
  display: flex;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  font-weight: 550;
  height: 20px;
  font-size: 14px;
}
.ShortLinkLPMP {
  cursor: pointer;
  font-weight: 550;
  font-size: 16px;
  text-align: left;
  display: inline-block;
  cursor: pointer;
  width: max-content;
  color: #1e40af;
  text-align: left;
}
.blockForCopySVG {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: #f3f4f6;
  border-radius: 9999px;
}
.rightmainCLMP {
  justify-content: flex-end;
  padding-right: 2px;
  width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
}
.TwoIconsContainer {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.threeIconsDevices {
}
.BlurAbsolute {
  position: absolute;
  top: -20%;
  right: -25%;
  width: 250px;
  height: 25px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255, 99%),
    rgb(255, 255, 255)
  );
}

.comment-popup {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 150px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  z-index: 1003;
}

.blockForCopySVG:hover .comment-popup {
  display: block;
}

.stats-button {
  width: 91px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 244, 246);
  border-radius: 6px;
  margin-left: 20px;
  cursor: pointer;
  color: #374151;
}

.ShortLinkBtn {
  display: inline-flex;
  margin-left: 5px;
  position: absolute;
  top: 10px;
}

@media (max-width: 500px) {
  .BlurAbsolute {
    display: none;
  }

  .LinksDateBottom {
    display: none;
  }

  .CLicksTextANum {
    display: none;
    color: #374151;
    font-size: 14px;
  }

  .stats-button {
    width: 26px;
    border-radius: 50%;
  }

  .ShortLinkBtn {
    display: inline-flex;
    margin-left: 0px;
    position: relative;
    top: 10px;
    left: -10px;
  }

  .blockForCopySVG {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .SVGCOntLP {
    display: none;
  }

  .rightmainCLMP {
    margin-left: auto;
  }

  .BlurAbsolute {
    width: 100px;
  }
}

@media (max-width: 800px) {
  .BlurAbsolute {
    width: 150px;
  }
}
