.dropdown {
    max-width: 13em;
    z-index: 10;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-btn {
    background: #ffffff;
    font-size: 18px;
    border: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid gray;
    transition: transform ease-in-out 0.3s;
}

.dropdown-content {
    padding: 0;
    list-style: none;
    position: absolute;
    top: 2.2em;
    width: 100%;
    visibility: hidden;
    /*   overflow: hidden; */
    transform: translateY(-1em);
    transition: transform ease 0.3s;
}

input[type="checkbox"]:checked ~ .dropdown-content {
    visibility: visible;
    transform: translateY(0);
}

.dropdown-content li {
    background: gray;
    border-radius: 0.5em;

}

input[type="checkbox"]:checked + label > .arrow {
    transform: rotate(180deg);
}
#dropdown{
    opacity: 0;
    position: absolute;
}


input[type="checkbox"]:focus + label {
    box-shadow: 0 0 20px rgb(83, 83, 83);
}

.dropdown-content li:hover {
    background: black;
}

.dropdown-content li a {
    display: block;
    padding: 0.7em 0.5em;
    color: white;
    margin: 0.1em 0;
    text-decoration: none;
}


.SortWord{
    margin-left: 10px;
    margin-right: 40px;
}
