.TagsUIContainer {
   width: auto;
   position: relative;
}

.MainContainerTagsUI {
  display: inline-flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5em;
  width: 200px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 15px;
  box-sizing: border-box;
  gap: 15px;
}
.ULTagsColumn {
  z-index: 2;
  width: 100%;
  position: absolute;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 5px 4px 8px 0px rgba(34, 60, 80, 0.2);
  margin-top: 10px;
  padding-left: 0px;
  max-height: 0px;
  overflow: hidden;
}
.LiTagsColumn {
  justify-content: space-between;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  list-style-type: none;
  box-sizing: border-box;
  font-size: 16px;
  width: 180px;
  height: 40px;
  margin: 10px;
}
.LiTagsColumn div {
}
@keyframes wave {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.LiTagsColumn:hover {
  order-radius: 0.5em;
  transition: background-color 0.1s ease-in;
  background-color: #e0e0e086;
  cursor: pointer;
  overflow: visible;
}

@media (max-width: 1100px) {

  .TagsUIContainer {
    flex: 1;
  }

.MainContainerTagsUI {
    width: 100%
  }

  .ULTagsColumn {
    right: 0;
  }
}

@media (max-width: 600px) {
  .MainContainerTagsUI {
      text-indent: -9999px; /* Скрывает текст кнопки */
      gap: 7.5px;
  }
}