.mainContainer{
    width: 100%;
    height: 150px;
    border-bottom: 1px solid;
    border-color: #E5E7EB;
    text-align: center;
    vertical-align: middle;
    line-height: 135px;
}

.contentContainer{
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.left{
    font-size: 28px;
    color: gray;
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto 0;*/
    display: inline-block;
    float: left;
    height: 100%;
    vertical-align: middle;
}
.right{
    /*top: 0;*/
    /*bottom: 0;*/
    /*margin: auto 0;*/
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    float: right;
}
