.AddressCountry{
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.FontSizeTextGP{
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
}
.CotainerForBackAddress{
    display: inline-flex;
    position: relative;

}
.CountryGPinAd{
    z-index: 2;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 104px;
}
.CityGPinAd{
    z-index: 2;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 104px;
}
.BackForAddress{
    border: 1px solid #BFBFBF;
    background-color: #F4F4F4;
    border-radius: 100px;

    width: 104px;
    height: 34px;
    position: absolute;
    left: -1px;
    top: -5px;
}
.ContainerForCountries{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.MPContainerGP{
    font-weight: 400;
    margin-right: 40px;
    margin-top: 20px;
    margin-left: 50px;
}
