.AddressCountryDev {
  margin-bottom: 30px;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.MapGPRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.AddHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.FontSizeTextGPDev {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px; /* Updated gap for alignment */
  margin-left: auto; /* Pushes the buttons to the right */
}

.NavigationButtonDev {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.CategoryDev {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Gap between categories */
  align-items: center;
}

.CategoryItem {
  color: #6c757d; /* Dark gray for unselected categories */
  text-decoration: none; /* No underline for unselected categories */
  cursor: pointer; /* Pointer cursor for clickable items */
}

.CategoryItem.selected {
  color: #000000; /* Black for selected category */
  text-decoration: underline; /* Underline for selected category */
}

.DeviceSwapDev {
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 30px;
  margin-left: auto;
  gap: 10px; /* Gap between buttons */
}

.ToggleViewButton {
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  transform: translateY(2px);
  box-shadow: 0 2px 8px 0 #0000001a;
  height: auto;
  width: auto;
}

.ToggleViewButton.active {
  background-color: black;
}

.ToggleViewIcon {
  display: flex;
  align-items: center;
  fill: none;
  stroke: #000;
}

.ToggleViewButton.active .ToggleViewIcon {
  stroke: #fff;
}