.GPMainContainer{
    display: flex;
    width: 100%;
    justify-content: center;
}
.LinkAndPeriod{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NILURLTRYOPT{
    font-weight: 550;
    font-size: 24px;
}
.STRABSPOSGP{
    transition: left 0.2s ease-in;
    position: absolute;
    left: 0;
    top: 5px;
}
.GPLink:hover .STRABSPOSGP{
    transition: left 0.2s ease-in;
    left: 12px;
}
.GPCenterContainer{
    width: 1000px;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.GPLink{
    display: inline-flex;
    position: relative;
    height: max-content;
    align-items: center;
    justify-content: center;
}
.GPPeriod{
    height: 50px;
    float:right;
}
.countOfViewsPeriod{
    padding-top: 10px;
    margin-left: 30px;
    font-size: 56px;
    font-weight: 550;
}
.GlobalCountOfViewText{
    margin-left: 30px;
    font-weight: 550;
    font-size: 20px;
}
.Charts{
    background-color: white;
    margin-top: 50px;
    max-width: 1200px;
    height: 760px;
    border-radius: 10px;
    box-shadow: 0px 4px 40px 0px #0000001A;
}

.OptionsInGP{
    margin-top: 50px;
    height: 800px;
}

.AddressesInGP{
    background-color: white;
    width: 48%;
    height: 400px;
    box-shadow: 0px 4px 40px 0px #0000001A;
    border-radius: 10px;
}
.DevicesInGP{
    background-color: white;
    margin-left: 0%;
    width: 48%;
    height: 400px;
    box-shadow: 0px 4px 40px 0px #0000001A;
    border-radius: 10px;
}
.REFSGP{
    background-color: white;
    width: 48%;
    height: 260px;
    box-shadow: 0px 4px 40px 0px #0000001A;
    border-radius: 10px;
}
.TOPREFGP{
    background-color: white;
    margin-left: 0%;
    width: 48%;
    height: 260px;
    box-shadow: 0px 4px 40px 0px #0000001A;
    border-radius: 10px;
}
.REFNAMERefsGP{
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.MAPREFSGP{
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;

}
