body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;

}
 .slide-in {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   background: white;
   transform-origin: left;
 }
 .slide-out{
   position: fixed;
   top: 0;
   right: 0;
   width: 100%;
   height: 100vh;
   background: white;
   transform-origin: right;
 }



@font-face {
  font-family: "Helvetica Neue Cyr";
  src:
    local("helveticaneuecyr_black"),
    url("./fonts/helveticaneuecyr_black.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src:
    local("helveticaneuecyr_roman"),
    url("./fonts/helveticaneuecyr_roman.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src:
    local("helveticaneuecyr_bold"),
    url("./fonts/helveticaneuecyr_bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Helvetica Neue Cyr";
  src:
    local("helveticaneuecyr_medium"),
    url("./fonts/helveticaneuecyr_medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto"),
    url("./fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto-bold"),
    url("./fonts/Roboto-bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Segoe UI";
  src:
    local("Segoe UI"),
    url("./fonts/Segoe\ UI.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Segoe UI";
  src:
    local("Segoe UI SemiBold"),
    url("./fonts/Segoe\ UI\ SemiBold.ttf") format("truetype");
  font-weight: 600;
}
